@import 'variables';
@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/League_Gothic.otf');
    
    font-weight: normal;
    font-style: normal;
}
body{
  background-image: url('../images/background.png');
}

header{
  height: 200px;
}

.logo-holder{
  position: relative;
  left:20px;
  top:80px;
}

.navbar{
  top:80px;
  height: 50px;
  background-color: transparent;
}

.nav-link {
  font-family: "LeagueGothic","Helvetica Neue","Helvetica","Arial";
  color: $navbar-default-link-color !important;
  font-size: 24px;
}

.nav-link-active{
  color: $navbar-active-link-color !important;
}

.navbar-toggler{
   border-color:#dcc08e !important;
   span{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(220, 192, 142, 01)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
   }
}

.search-box{
  background:transparent url('../images/magnifiyng-glass.png') no-repeat scroll right center;
  background-color: #1d1e1e;
  border-bottom: 1px solid #202020 !important;
  border-right: 1px solid #303030 !important;
  border-radius: 3px;
  width:166px;
  margin: 10px;
  height: 28px;
  color:#909090;
  font-size: 11px;
  font-weight: bold;
  font-style: italic;
  border:none;
}