<h1 style="color:white">ADMIN PANEL</h1>

<form id="create-article-form">
    <label style="color:white">TITLE</label><input type="text" name="title" id="title"><br>
    <label style="color:white">CONTENT</label><textarea rows="4" cols="50" name="content" id="content"></textarea><br>
    <select id="category" name="category">
  <option value="SPORT">Sport</option>
  <option value="ENTERTAINMENT">Entertainment</option><br>
</select>
    <input type="file" name="image" id="image">

    <input type="submit" value="CREATE">
</form>
<!-- 
    <div class="container">   
        <ol class="breadcrumb breadcumb-custom">
            <li class="breadcrumb-item"><i class="fa fa-home" aria-hidden="true"></i></li>
            <li class="breadcrumb-item"><a href="#/home">Home</a></li>
            <li class="breadcrumb-item active">Register</li>
        </ol>
    </div>
-->