<h1 style="color:white">ADMIN PANEL</h1>

<form id="create-article-form">
<label  style="color:white">TITLE</label><input type="text" name="title" id="title"><br>
<label  style="color:white">CONTENT</label><textarea rows="4" cols="50" name="content" id="content"></textarea><br>
 <select id="category" name="category">
  <option value="sport">Sport</option>
  <option value="entertainment">Entertainment</option><br>
</select> 
<input type="file" name="image" id="image">

<input type="submit" value="CREATE">
</form>
<!-- 
    title
    content
    image
    author
    category
-->