<div class="sitemap">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/home">Home</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb-item-category" href="#/home/category/{{category}}">{{category}}</a></li>
        <li class="breadcrumb-item">{{title}}</li>
    </ol>
</div>
<h1 style="color:white">SINGLE ARTICLE</h1>