<h1>Settings update</h1>
<form id="updateSettings-form">
    <input type="file" name="avatar" id="avatar"><br/>

    <input type="text" name="email" id="email" placeholder="email"><br/>
    <input type="text" name="currentPassword" id="currentPassword" placeholder="oldPassword"><br/>
    <input type="text" name="newPassword" id="newPassword" placeholder="newPassword"><br/>

    <input type="submit" value="submit">
</form>